
    <!-- Banner -->
    <section class="tm-banner">
        <!-- Flexslider -->
        <div class="flexslider flexslider-banner">
            <ul class="slides">
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title"><span class="tm-yellow-text">Tour</span> Packages</h1>
                        <p class="tm-banner-subtitle">For Your Vacations</p>
                        <a href="#more" class="tm-banner-link">Learn More</a>
                    </div>
                    <img src="~/Content/img/banner-3.jpg" />
                </li>
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">Whatever <span class="tm-yellow-text"> your style</span> is</h1>
                        <p class="tm-banner-subtitle">See it your way</p>
                        <a href="#more" class="tm-banner-link">Learn More</a>
                    </div>
                    <img src="~/Content/img/banner-2.jpg" />
                </li>
                <li>
                    <div class="tm-banner-inner">
                        <h1 class="tm-banner-title">Adventure <span class="tm-yellow-text">is </span>worthwhile</h1>
                        <p class="tm-banner-subtitle">It is indeed!!</p>
                        <a href="#more" class="tm-banner-link">Learn More</a>
                    </div>
                    <img src="~/Content/img/banner-1.jpg" />
                </li>
            </ul>
        </div>
    </section>

    <!-- gray bg -->
    <section class="container tm-home-section-1" id="more">
        <div class="row">
            <!-- slider -->
            <div class="flexslider flexslider-about effect2">
                <ul class="slides">
                    <li>
                        <img src="~/Content/img/about-1.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">Welcome To Holiday</h2>
                            <h3 class="slider-subtitle">Hospitality beyond borders</h3>
                            <p class="slider-description">
                                <b>Holiday</b> Travel and Tours is a long established  travel and tour operator
                                company Based in Pakistan that provides outstanding service for tourists and business visitors to
                                all parts of Pakistan. With highly qualified staff we can organise group tours, historical, cultural,
                                bird watching and wildlife tours and expeditions that are tailored to meet your every need.
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/img/about-1.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">Thank you for choosing us!</h2>
                            <h3 class="slider-subtitle">Hospitality beyond borders</h3>
                            <p class="slider-description">Thank you for paying visit once you choose us you will come back to us everytime.</p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/img/about-1.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">More Programs to come</h2>
                            <h3 class="slider-subtitle">Hospitality beyond borders</h3>
                            <p class="slider-description">
                                Currently we are operating only in security cleaned cities
                                there still are some important places where we can't manage tours because of security situation
                                but hope situation will be better soon and we will soon continue tours to those areas.
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/img/about-1.jpg" alt="image" />
                        <div class="flex-caption">
                            <h2 class="slider-title">Tour and Travel</h2>
                            <h3 class="slider-subtitle">Hospitality beyond borders</h3>
                            <p class="slider-description">
                                We manage tour to almost all beautiful and historical places of Pakistan.When it comes to breathtaking landscapes and mind-blowing sceneries, Pakistan is absolutely matchless.
                                You think Switzerland is the most stunning place on this planet?
                                Think again…
                            </p>
                            <div class="slider-social">
                                <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                                <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-margin-top about-section">
            <div class="row">
                <div class="tm-section-header">
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Who We Are</h2></div>
                    <div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="~/Content/img/about-4.jpg" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Nofal <span>( Founder )</span></h3>
                        <p class="margin-bottom-15 gray-text">Founder and CEO of this program</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="~/Content/img/about-5.jpg" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Faraz <span>( Co-Founder )</span></h3>
                        <p class="margin-bottom-15 gray-text">Con Founder and Seniour Manager.</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="~/Content/img/about-6.jpg" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Bilal <span>( General Manager )</span></h3>
                        <p class="margin-bottom-15 gray-text">General Manager of the company</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="~/Content/img/about-7.jpg" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Huzaifa <span>( Manager )</span></h3>
                        <p class="margin-bottom-15 gray-text">Manager of the company</p>
                        <div class="gray-text">
                            <a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- white bg -->
    <section class="tm-white-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="tm-section-header section-margin-top">
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                    <div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">What we do</h2></div>
                    <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                </div>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="col-lg-12">
                    <div class="tm-what-we-do-right">
                        <div class="tm-about-box-2 margin-bottom-30">
                            <img src="~/Content/img/about-2.jpg" alt="image" class="tm-about-box-2-img">
                            <div class="tm-about-box-2-text">
                                <h3 class="tm-about-box-2-title">Transport services</h3>
                                <p class="tm-about-box-2-description gray-text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                                <p class="tm-about-box-2-footer">No Data</p>
                            </div>
                        </div>
                        <div class="tm-about-box-2">
                            <img src="~/Content/img/about-3.jpg" alt="image" class="tm-about-box-2-img">
                            <div class="tm-about-box-2-text">
                                <h3 class="tm-about-box-2-title">Best hotels</h3>
                                <p class="tm-about-box-2-description gray-text">falsfkjalskdfhsfljgweoirulfsnsljfglskjglskdjflskdjflksj</p>
                                <p class="tm-about-box-2-footer">NO data</p>
                            </div>
                        </div>
                    </div>
                    <div class="tm-testimonials-box">
                        <h3 class="tm-testimonials-title">Testimonials</h3>
                        <div class="tm-testimonials-content">
                            <div class="tm-testimonial">
                                <p>"Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum."</p>
                                <strong class="text-uppercase">John Smith</strong>
                            </div>
                            <div class="tm-testimonial">
                                <p>"Nisi elit consequat ipsum, nec sagittis sem nibh id elit duis sed odio sit amet nibh."</p>
                                <strong class="text-uppercase">Lorens</strong>
                            </div>
                            <div class="tm-testimonial">
                                <p>"Rulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio."<p>
                                    <strong class="text-uppercase">Robert</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="tm-black-bg">
        <div class="container">
            <div class="row">
                <p class="tm-copyright-text">
                    Copyright &copy; 2084 Your Company Name

                    | Designed by <a rel="nofollow" href="http://www.templatemo.com" target="_parent">templatemo</a>
                </p>
            </div>
        </div>

